name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - name: checkout repo
      uses: actions/checkout@v1
    - name: build using docker
      run: |
        source source.sh && npm run build
